:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.set-image {
  width: 30px;
  height: 30px;
}

.percentage {
  font-size: 60px;
  color: var(--color-primary-secondary-color);
}