 <div class="container">
    <h1>Modificar contraseña</h1>
    
    <hr>
    
    <form class="form">
        <mat-form-field class="full-width">
            <mat-label class="input">Constraseña actual</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl">

            <mat-error *ngIf="passwordFormControl.hasError('required')">
                La constraseña es <strong>requerida</strong>
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                La constraseña debe tener mínimo 8 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label class="input">Nueva constraseña</mat-label>
            <input type="password" matInput [formControl]="newPasswordFormControl">

            <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                La constraseña es <strong>requerida</strong>
            </mat-error>

            <mat-error *ngIf="newPasswordFormControl.hasError('minlength')">
                La constraseña debe tener mínimo 8 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label class="input">Repetir nueva constraseña</mat-label>
            <input type="password" matInput [formControl]="newRePasswordFormControl">

            <mat-error *ngIf="newRePasswordFormControl.hasError('required')">
                La constraseña es <strong>requerida</strong>
            </mat-error>

            <mat-error *ngIf="newRePasswordFormControl.hasError('minlength')">
                La constraseña debe tener mínimo 8 caracteres
            </mat-error>
        </mat-form-field>

         <div class="button-container">
            <div class="buttons">
                <button (click)="modifyPassword()">Modificar</button>
                <button (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </form>
</div>